<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>학생목록</h2>
	<table>
		<tr>
			<th>번호</th>
			<th>이름</th>
			<th>학번</th>
			<th>학과</th>
			<th>전화번호</th>
			<th>조회</th>
			<th>수정</th>
			<th>삭제</th>
		</tr>
		<tr th:each="student: ${studentList}">
			<td th:text="${student.id}"></td>
			<td th:text="${student.studentName}"></td>
			<td th:text="${student.studentNumber}"></td>
			<td th:text="${student.studentMajor}"></td>
			<td th:text="${student.studentMobile}"></td>
			<td>
				<button th:onclick="detail([[${student.id}]])">조회</button>
			</td>
			<td>
				<button th:onclick="update([[${student.id}]])">수정</button>
			</td>
			<td>
				<button th:onclick="delete1([[${student.id}]])">삭제</button>
			</td>
		</tr>
		<a href="/">시작화면으로</a>
	</table>
</body>
<script th:inline="javascript">
	const detail = (id) => {
		console.log("list.html.script.detail");
		console.log("클릭한 학생의 id", id);
		location.href = `/student/${id}`;
	}
	const update = (id) => {
		console.log("list.html.script.update");
		location.href = `/student/update/${id}`;
	}
	const delete1 = (id) => {
		console.log("list.html.script.delete1");
		location.href = `/student/delete/${id}`;
	}
</script>
</html>