<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
	input {
		display: block;
	}
</style>
<body>
	<h2>update.html</h2>
	<form action="/update" method="post">
		<input type="hidden" name="id" th:value="${student.id}">
		이름: <input type="text" name="studentName" th:value="${student.studentName}">
		학번: <input type="text" name="studentNumber" th:value="${student.studentNumber}" readonly="readonly">
		전공: <input type="text" name="studentMajor" th:value="${student.studentMajor}">
		전화번호: <input type="text" name="studentMobile" th:value="${student.studentMobile}">
		
		<input type="submit" value="수정">
	</form>
</body>
</html>